streamlit
python-dotenv
langchain
langchain-core
langchain_community
yfinance
pydantic
streamlit
python-dotenv
pandas
numpy
matplotlib
pickle-mixin
ipython
llama-index
pyvis
azure-storage-blob
azure-identity
openai
azure-core
azure-ai-formrecognizer
requests
ipdb
llama-index-experimental==0.1.3
llama_index.core
langchain-openai
typing
matplotlib
azure-storage
openai
azure-identity
langchain-experimental
azure-ai-ml
azure-ai-formrecognizer
azure-ai-documentintelligence